

<div layout="row" layout-xs="column" layout-margin layout-fill>
	<div flex="100" flex-gt-xs="5" layout="row" layout-gt-xs="column"></div>
	<div flex="100" flex-gt-xs="90">
		<div layout-gt-sm="row" class="md-whiteframe-3dp" layout="column">
			<div flex-gt-sm="100" flex>
				<md-toolbar layout="row" class="md-primary">
					<div class="md-toolbar-tools">
						<h1>Login</h1> <span flex></span>
					</div>
				</md-toolbar>

				<md-content class="md-padding" layout="column">
      <md-input-container>
        <label>EmailAddress</label>
        <input type="email" ng-model="credentials.loginmail"/>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="credentials.loginpassword"/>
      </md-input-container>
      <div layout="row" layout-align="center center" style="padding-top:20px">
        <md-button ng-click="loginCtrl.login()" class="md-raised md-primary">Login</md-button>
        <div flex="flex"></div>
       
      </div>
    </md-content>

				
		</div>
	</div>
</div>
<div flex="100" flex-gt-xs="5" layout="row" layout-gt-xs="column"></div>
</div>
